.header {
  background-color: rgb(222, 191, 191);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 40px;
}

.pageName {
  font-size: 24px;
  color: rgb(67, 67, 95);
  font-weight: 700;
}
